@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav{
    background-color: #FFF;
}


.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30.313rem;
margin-right: 31.25rem;
  
}
.menu-items{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
}
.follow-us{
    display: flex;
    align-items: center;
    column-gap: 0.313rem;
    width: fit-content;
height: 2.5rem;
border-radius: 0.5rem;
background: rgba(11, 2, 35, 0.10);
}

.follow-us img{
    width: 1.5rem;
height: 1.5rem;
}

.logo-container{
    display: flex;
    width: 50%;
    align-items: center;
    gap: 1.25rem;
    Font-family: Work Sans;
    font-size: 2.813rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo-container img{

    width: 5.375rem;
    height: 2.5rem;
}

.logo-g{
color: #F948B2 ;
}

.loge-amer{
    color: #0B0223;
    }



.banner-container{

    min-height: 3.125rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #FFF;

}

.banner-text h2{
    color: #0B0223;
    margin-top: 8.125rem;
    margin-bottom: 0.313rem;
    text-align: center;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.banner-text h1{
   margin-top: 0.313rem;
   margin-bottom: 0.313rem;
    color: #F948B2;
    text-align: center;
    font-family: Work Sans;
    font-size: 5.938rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}


.banner-button1{
    background-color: #F948B2;
    padding: 0.625rem 1.25rem;
    border: 0.125rem solid #9376e0;
    margin-right: 1.25rem;
    border-radius: 1.25rem;
}
.banner-button2{
    background-color: #4EC5F7;
    padding: 0.625rem 1.25rem;
    border: 0.125rem solid #9376e0;
    margin-right: 1.25rem;
    border-radius: 1.25rem;
}

.online-text{
    text-align: center;
    margin-top: 11.25rem;

}

.online-games{
    color: #0B0223;
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.funny{
color: #F948B2;
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.Online-games-desc{
    color: #534C64;
    margin-top: 1.875rem;
    margin-bottom: 3rem;
text-align: center;
font-family: Work Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */
}
.online-games-container{
    align-items: center;
    justify-content: center;
    display: grid;
margin-left: 30rem;
margin-right: 26.875rem;
    min-height: 25rem;
    grid-template-columns: repeat(4, 1fr) 

}

 .gun-image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    border-style: solid;
    border-color: #F948B2;
    border-radius: 1.25rem;
  }
  
  .gun:hover .gun-image {
    opacity: 0.3;
  }
  
  .majesty-image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    border-style: solid;
    border-color: #F948B2;
    border-radius: 1.25rem;
  }
  
  .majesty:hover .majesty-image {
    opacity: 0.3;
  }

  .pixel-image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    border-style: solid;
    border-color: #F948B2;
    border-radius: 1.25rem;
  }
  
  .pixel:hover .pixel-image {
    opacity: 0.3;
  }

  .disney-image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    border-style: solid;
    border-color: #F948B2;
    border-radius: 1.25rem;
  }
  
  .disney:hover .disney-image {
    opacity: 0.3;
  }

.dual-container{
    display: flex;
    justify-content: space-evenly;
        height: 60.625rem;
}

.rider-image{
    margin-top: 9.375rem;
}
.talking-image{
    position: relative;
    bottom: 18.125rem;
    right: 9.375rem;
}
    

.play-instantly{
    color: #F948B2 ;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem;
    margin-top: 21.875rem;
}


.no-downloads{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.234rem;
}

.no-installs{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
}

.dual-description{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */
}


.type1, .type2, .type3, .type4, .type5, .type8, .type9{
    display: flex;
    gap: 0.625rem;
    border-style: solid;
    border-radius: 1.875rem;
}

.type6, .type7 {
    border-style: solid;
    border-radius: 1.875rem;
    display: flex;
    gap: 0.625rem;  
}

.type1:hover{
    border-color: #F948B2;
}
.type2:hover{
    border-color: #F948B2;
}
.type3:hover{
    border-color: #F948B2;
}
.type4:hover{
    border-color: #F948B2;
}
.type5:hover{
    border-color: #F948B2;
}
.type6:hover{
    border-color: #F948B2;
}
.type7:hover{
    border-color: #F948B2;
}
.type8:hover{
    border-color: #F948B2;
}
.type9:hover{
    border-color: #F948B2;
}
.games-category{
height: 15.625rem;
    margin-left: 30rem;
margin-right: 26.875;
margin-top: 3.125rem;

 
}
.game-type1{
display: flex;  
  flex-wrap: wrap;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.25rem;

}

.game-type2{
    display: flex;  
  flex-wrap: wrap;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;

}

.footer-container{
    background: #0B0223;
    height: 25rem;
}
    

    
.games-category{
    align-items: center;
    margin-bottom: 3.125rem;
    margin-top: 1.25rem;
}

.footer-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    Font-family: Work Sans;
    font-size: 2.813rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 
}

.footer-logo-container img{
    width: 5.375rem;
    height: 2.5rem;
}

.footer-logo-g{
color: #F948B2 ;
}

.footer-logo-amer{
color: #FFF;
}

.footer-menu-items{
display: flex;
list-style: none;
justify-content: center;
column-gap: 1.563rem;
color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.footer-img-container {
    margin-top: 3.125rem;
    display: flex;
    justify-content: center;
    column-gap: 1.563rem;
    background: #0B0223;
}

.footer-img-container img {
width: 2.5rem;
height: 2.5rem;
}

.footer-line-items{
text-align: center;
display: flex;
list-style: none;
justify-content: center;
column-gap: 1.563rem;
color: rgba(255, 255, 255, 0.60);
font-family: Work Sans;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.copyright{
    text-align: center;
    color: rgba(255, 255, 255, 0.60)
    
}

@media screen and (max-width: 425px) {
   
    .nav-menu,
    .menu-items,
    .banner-container {
        flex-direction: column;
    }
}